@model List<Order>

@{
    ViewData["Title"] = "All orders";
}
<div class="container-fluid pt-5 ">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">FOR THE GAME</h4>

        </div>

    </div>
</div>

<div class="container pb-5 mb-5">
    <div class="col-md-8 offset-md-2">
        <p>
            <h4 class="text-center">Historial de compras</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Productos</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Usuario</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.id</td>
                        <td class="align-middle">
                            <ul style="list-style-type: none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="d-flex flex-column align-items-center">
                                            <div class="alert alert-info" role="alert">
                                                <span class="badge bg-success">@item.cantidad</span> [@item.price.ToString("c")] - @item.Producto.nombre
                                            </div>
                                            <div class="alert alert-info d-flex justify-content-center" role="alert">
                                                <img src="~/Images/@item.Producto.imagen" class="img-fluid" style="max-width: 100px; max-height: 100px;" />
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m => m.Producto.valor * m.cantidad).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle">@order.Usuario.nombre</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>